<!--set base path-->
{% include base.html %}

<!--add style css files-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="theme-color" content="#1B32C2">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<link href="{{ base }}/assets/bootstrap_4/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="{{ base }}/assets/font_awesome_4/css/font-awesome.min.css" rel="stylesheet">
<link href="{{ base }}/assets/nd.css" rel="stylesheet">
<link rel="stylesheet" href="{{ '/assets/style.css?v=' | append: site.github.build_revision | relative_url }}">
