<br/>
<br/>
<footer style="padding-top:3rem;">
<!-- <footer class="bg-faded text-center"> -->
  <!-- <div class="container">
    Copyright &copy; 2018 Schneider Research Group. All Rights Reserved.
  </div> -->


<div class="footer-inner cf" style="font-size:85%;">
        <p class="copyright org">
          <a href="http://www.nd.edu/copyright/" >Copyright</a> © 2026
          <a href="http://www.nd.edu/" class="org">University of Notre Dame</a>
        </p>
        <p class="contact-info adr">

          <span>Schneider Research Group<br/></span>
          <span>Office: Nieuwland Science Hall&nbsp&nbsp&nbsp&nbsp</span>
          <span>Email: wschneider@nd.edu<br/></span>
          <span>Office Phone: (574) 631-8754&nbsp&nbsp&nbsp&nbsp</span>
          <span>Fax: (574) 631-8366<br/></span>
          <span>Mailing: 250 Nieuwland Science Hall, Notre Dame, IN, 46556</span>

        </p>
        <a href="http://www.nd.edu/" class="ndmark"><img src="/assets/img/ND_mark_blue_L.png" alt="University of Notre Dame" width="200px" height="46.66px"></a>
      </div>
</footer>
