<div class="container-wide">
  <div class="row justify-content-md-center">
    <div class="col">

        <input type="checkbox" class="read-more-state" id="post" />

        <div class="read-more-wrap">

          <p> {% capture news %}{% include news_recent.md %}{% endcapture %}
                {{ news | markdownify }}</p>
          <li class="read-more-target" style="list-style: none;"> {% capture news_archive %}{% include news_archive.md %}{% endcapture %}
                {{ news_archive | markdownify }} </li>

        </div>

        <label for="post" class="read-more-trigger"></label>
      </div>


    <div class="col col-lg-5">
      <a class="twitter-timeline"
        data-height="800"
        data-width="600"
        data-chrome="nofooter"
        data-link-color="#820bbb"
        data-border-color="#a80000"
        data-theme="light"
        href="https://twitter.com/profwschneider?ref_src=twsrc%5Etfw">Tweets by profwschneider</a>

      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      <a href="https://twitter.com/profwschneider?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @profwschneider</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>
</div>
