---
---

@import "{{ site.theme }}";


.page-header {
  color: $header-heading-color;
  text-align: center;
  background-color: $header-bg-color;
  background-image: url('{{ site.baseurl }}/assets/img/cover.png');
  @include large {
    max-height: 12rem;
    padding: 3rem 4rem;
  }

  @include medium {
    max-height: 10rem;
    padding: 3rem 4rem;
  }

  @include small {
    max-height: 8rem;
    padding: 2rem 1rem;
  }
}

.brandbar a {
  display:block;
  margin-right: 1.7rem;
  text-decoration:none;
  height:50px;
  text-indent:-9999px;
  overflow:hidden;
  background-repeat:no-repeat;
  @include large {
    margin-left:2.5625rem;
  }

  @include medium {
    margin-left:2.5625rem;
  }

  @include small {
    margin-left:1.9625rem;
  }
}


.dept.dept-engr {
  @include large {
    margin-left:1.7rem;
  }

  @include medium {
    display:none;
  }

  @include small {
    display:none;
  }
}

.page-header2 {
  color: $header-heading-color;
  text-align: center;
  background-color: #0C2340;

  @include large {
    max-height: 6.5rem;
    padding: 1rem 1rem;
  }

  @include medium  {
    max-height: 4.5rem;
    padding: 0.5rem 2.5rem;
  }

  @include small {
    max-height: 4rem;
    padding: 0.5rem 2rem;
  }
}


.project-name2 { color: #fff; text-align: left; margin-top: 0; margin-bottom: 0.1rem; }
@media screen and (min-width: 64em) { .project-name2 { margin-left: 1.5rem; font-size: 2.25rem; } }
@media screen and (min-width: 42em) and (max-width: 64em) { .project-name2 { font-size: 1.75rem; } }
@media screen and (max-width: 42em) { .project-name2 { font-size: 1.45rem; } }

.project-tagline2 { color: #fff; text-align: left; margin-bottom: 2rem; font-weight: normal; opacity: 0.8; }
@media screen and (min-width: 64em) { .project-tagline2 { margin-left: 1.5rem; font-size: 1.25rem; } }
@media screen and (min-width: 42em) and (max-width: 64em) { .project-tagline2 { margin-top: 0.5rem; font-size: 1.05rem; } }
@media screen and (max-width: 42em) { .project-tagline2 { margin-top: 0.5rem; font-size: 0.85rem; } }


.main-content {
    margin: 0;
    max-width: 100%;
}

body {
  font-family: "TheSans", Helvetica, Arial, sans-serif;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

h1, h2, h3, h4, h5, h6, .text-heading {
  font-family: "Josefin Slab", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: normal;
  color: #000000;
}

html {
  font-size: 16px;
  // Magic:
  @media (max-width: 1000px) {
    font-size: calc(12px + .4vw);
  }
}

.title {
  font-size: 1.5rem;
}
.body {
  font-size: 1rem;
}

a:visited {
    color: #286dc0;
}

.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6,
.main-content {
  margin-top: 0rem;
  margin-bottom: 1rem;
  font-weight: normal;
  color: #000000;
}

.main-content {
    @include small {
        padding: 0.25rem 2rem;}
    @include medium {
        padding: 0.5rem 2.5rem;}
    @include large {
        padding: 1rem 2.5rem;}
}

p {
  max-width: 100%;
}

.row {
  margin-left: 1rem;
  margin-right: 1rem;
  max-width: 100%;
  padding-right: 2rem;
}
.column {
  padding-left: 0;
  padding-right: 2rem;
}
.col{
  @include small {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.col-lg-4{
  @include small {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 30px;
  }

}
/* Makes images fully responsive */

.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  width: 100%;
  height: auto;
}

/* ------------------- Carousel Styling ------------------- */


.carousel_img {
  @include large {
    width: 610px;
    height: 437px;
  }

  @include medium {
    width: 444px;
    height: 318px;
  }

  @include small {
    width: 314px;
    height: 230px;
  }
}


.carousel-inner {
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  @include large {
    width: 610px;
    height: 507px;
  }

  @include medium {
    width: 444px;
    height: 380px;
  }

  @include small {
    width: 314px;
    height: 265px;
  }

  > .item {
    -webkit-transition: 0.3s, ease-in-out, left;
    -moz-transition: .3s, ease-in-out, left;
    -o-transition: .3s, ease-in-out, left;
    transition: .3s, ease-in-out, left;
  }

}

.carousel-caption {
  background-color: rgba(0,0,0,.5);
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 0 0 10px 25px;
  color: #fff;
  text-align: left;
  @include large {
    width: 610px; top: 437px; bottom: -70px;
  }

  @include medium {
    width: 444px; top: 318px; bottom: -70px;
  }

  @include small {
    width: 314px; top: 230px; bottom: -70px;
  }
}

.carousel-indicators {
    @include large {
      bottom: 2.5rem;
    }
    @include medium {
      bottom: 2.2rem;
    }
    @include small {
      bottom: 1.05rem;
    }
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%343A40' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%343A40' viewBox='0 0 8 8'%3E%3Cpath d='M4 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}



.gallery {
  display: block;
  margin-top: 1rem !important;
  @include large {
    width: 600;
  }

  @include medium {
    width: 444px;
  }

  @include small {
    width: 314px
  }
}

.read-more-state {
  display: none;
}

.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .25s ease;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
  content: 'Show more';
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: 'Show less';
}

.read-more-trigger {
  cursor: pointer;
  display: inline-block;
  padding: 0.5em;
  color: #666;
  font-size: .9em;
  line-height: 2;
  border: 1px solid #ddd;
  border-radius: .25em;
}

.main-content table{
    table-layout: fixed;
    width:840px;
}

.main-content table td {
    text-align: center;
    width: 280px;
}

.image_bill {
  float: left;
  align: top;
  width:350px;
  height: auto;
  margin-right: 2rem;
}

.image_people {
  align: top;
  width:120px;
  height: 170px;
  margin-bottom: 1rem;
}

.image_research {
  display: block;
  margin: 0 auto;
}

img {
  width: 700px;
  height: 500px;
}


/* responsive nav stacked liked 3.x */
.dropdown-item {
    color: rgba(0,0,0,.7)!important;
}

.navbar-collapse.show {
      width: 16rem;
      top: 100%;
      right: 0;
      margin-top: 15px;
      padding: 5px;
      border: 1px solid #f2f3f3;
      border-radius: 4px;
      background: #fff;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
      float:left;
      z-index: 1000;
}

.navbar-collapse.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height .05s ease;
       -o-transition: height .05s ease;
          transition: height .05s ease;
}

.navbar-toggler {
    line-height: auto;
    border: 2px solid transparent;
}

@media(max-width:992px) {
    #nav1.navbar .navbar-brand {
        float:none;
        display: block;
    }
    #nav1.navbar .navbar-nav>.nav-item {
        float: none;
        margin-left: .1rem;
    }
    #nav1.navbar .navbar-nav {
        float:none !important;
    }
}

@media(max-width:768px) {
    #nav2.navbar .navbar-brand {
        float:none;
        display: block;
    }
    #nav2.navbar .navbar-nav>.nav-item {
        float: none;
        margin-left: .1rem;
    }
    #nav2.navbar .navbar-nav {
        float:none !important;
    }
}

@media(max-width:544px) {
    #nav3.navbar .navbar-brand {
        float:none;
        display: block;
    }
    #nav3.navbar .navbar-nav>.nav-item {
        float: none;
        margin-left: .1rem;
    }
    #nav3.navbar .navbar-nav {
        float:none !important;
    }
}
