<!DOCTYPE html>

<html lang="{{ site.lang | default: "en-US" }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <head>
    <meta charset="UTF-8">

    <!--add css files-->
    {% include css.html %}

    </head>
  <body>
    <div class="twitter">
      <a class="twitter-timeline"
      max-width= 100%
      data-height=100%
      data-chrome="nofooter"
      data-link-color="#820bbb"
      data-border-color="#a80000"
      data-theme="light"
      href="https://twitter.com/profwschneider">Tweets by profwschneider</a>

    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    {% include header.html %}

    {% include navigation.html %}

    <section class="main-content">

      {{ content }}

      {% include footer.html %}

    </section>

    {% include js.html %}

  </body>

</html>
